.FFTitle h1 {
  display: inline;
  margin: 1rem auto 0 auto;
  font-family: Copperplate Gothic Bold ;
  font-weight: bold;
}
.FFTitle{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;

  width: 100%;
  background-color: #ffff;
  padding: auto auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.inputSearch {
  max-width: 30rem;
  width: 100%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.NavFlex {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  .sticky {
    position: static;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .NavFlex{
    flex-direction: column;
    z-index: 1;
    margin: 1rem auto;
  }
  form.inputSearch{
    order: 5;
  }
  .FFTitle , .FFTitle i ,.FFTitle h1 {
    font-size: 1.5rem;
  }

}