.collectionText {
  margin: 0 2rem;
  font-size: 0.75rem;
  position: relative;
  top: 0.5rem;
  font-style: italic;
  white-space: nowrap;
}

.allPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between ;
  align-content: space-between;
}

.allPosts li {
  display: flex;
  justify-content: left;
  flex-direction: column;
  list-style: none;
  margin: 3rem 2rem;
  
  max-width: 12rem;
  min-width: 6rem;
  overflow: hidden;
  text-overflow: hidden;
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: relative;
}

.allPosts li:hover{
  
    transform: scale(1.1);

}

.ImgCartDiv {
  
  width: 100%;
  height: 12rem;
  max-height: 12rem;
  min-height: 6rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-end ;
  
}
 
.soldeContent {
  position: absolute;
   text-justify: auto;
   text-align: center;
  
 white-space: nowrap;
 font-size: 0.75rem;
 height: auto;
 width: auto;;
  padding: 0.5rem 0.5rem;
  background: red;
  color: white;
  border-bottom-left-radius: 50%;
}


.titleProduct {
  
  width: 100%;
  height: 1.6rem;
  font-size: 0.8rem;
  font-weight: bold;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 0.8rem;
 

}

.starSpan{
  
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
    height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
   
  
  transition: all .2s ease-in-out;
/*
*/
transform: translateY(50%);

}
.starSpan:hover{
  transform: translateY(0);
} 


@media (max-width: 768px) {
  .allPosts {
    justify-content: center;
  }
}

