.bgProfil {
    width: 100%;
    height: 100%;
    min-height: 100vh;
     color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    background-image: url("/adria-tormo-ISmRgkuPfcM-unsplash.jpg");
}
 .bgProfil section{
     margin: auto auto;
     padding: 1rem 1rem;
     width: 75%;
     height: 100vh;
     color: black;
     background-color: #fff;
 }
  .flexGeneral{
      align-content: center;
     display: flex;
     justify-content: space-around;
     align-content:space-around;
     
}





 @media only screen and (max-width: 768px) {
   
 .bgProfil section{
     width: 90%;
 }
  }